
SharesonServer/.vs/SharesonServer/v15/.suo
SharesonServer/SharesonServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SharesonServer/SharesonServer/obj/Debug/SharesonServer.csproj.CoreCompileInputs.cache
SharesonServer/SharesonServer/obj/Debug/SharesonServer.csproj.FileListAbsolute.txt
SharesonServer/SharesonServer/obj/Debug/SharesonServer.csprojAssemblyReference.cache
SharesonServer/SharesonServer/obj/Debug/SharesonServer_MarkupCompile.cache
SharesonServer/SharesonServer/obj/Debug/SharesonServer_MarkupCompile.i.cache
SharesonServer/SharesonServer/obj/Debug/SharesonServer_MarkupCompile.i.lref
SharesonServer/SharesonServer/obj/Debug/SharesonServer_MarkupCompile.lref
SharesonServer/SharesonServer/obj/Debug/SharesonServer.pdb
